.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0px;
}

.icon {
  width: 80px;
  height: 80px;
  margin: 10px;
  background-size: cover;
}

.title {
  font-size: 2.5em;
  font-weight: 600;
}

.subTititle {
  font-size: 1.5em;
  font-weight: 400;
}
